<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page_layout}" xmlns="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="page_css">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">

    <!-- Bootstrap-Select -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-selectpicker/css/bootstrap-select.min.css}">

    <!-- bootstrap-datepicker -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}">
</th:block>
<th:block layout:fragment="page_title">
    <h1 class="m-0">PMQA - Alur Dokumen</h1>
</th:block>
<th:block layout:fragment="page_breadcrumb">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">PMQA</li>
        <li class="breadcrumb-item active">Alur Dokumen</li>
    </ol>
</th:block>
<section layout:fragment="content" class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Alur Dokumen</h3>
                        <div class="card-tools">
                            <a href="#" data-toggle="modal" data-target="#mdlPmqaAlurDok"
                               class="pull-left btn btn-sm btn-success addAlurDok">Tambah</a>
                            <!--<button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>-->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tblPmqaAlurDok" class="table table-bordered table-hover dataTable table-cell">
                                    <thead>
                                    <tr>
                                        <th class="text-center">ID Alur Dokumen</th>
                                        <th class="text-center">ID Deliverable</th>
                                        <th class="text-center">ID Monitoring</th>
                                        <th class="text-center">Periode</th>
                                        <th class="text-center">Version</th>
                                        <th class="text-center">Version Name</th>
                                        <th class="text-center">Tanggal Submission</th>
                                        <th class="text-center">Surat Deloitte</th>
                                        <th class="text-center">Tanggal Surat</th>
                                        <th class="text-center">Status Deliverable</th>
                                        <th class="text-center">Status Pembayaran</th>
                                        <th class="text-center">Aksi</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->

    <div class="modal fade" id="mdlPmqaAlurDok" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Alur Dokumen</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="box box-solid">
                        <form class="form-horizontal" id="formPmqaAlurDok" method="post">
                            <input type="text" name="idDetailDocument" id="idDetailDocument" hidden/>
                            <input type="text" name="idMonitoring" id="idMonitoring" hidden/>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">ID Deliverable</label>
                                    <div class="col-sm-4">
                                        <select class="form-control selectpicker" data-live-search="true" id="idDeliverable" name="idDeliverable" data-style="btn-primary" required>
                                        </select>
<!--                                        <input type="text" class="form-control" id="idDeliverable" name="idDeliverable" placeholder="" disabled="">-->
                                        <!--  dari tabel monitoring (deliverable_code) -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Periode</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="period" name="period" placeholder="" disabled="" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Version</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="version" name="version" placeholder="" disabled="" required>
                                        <!-- dilihat dari kolom version di tabel alur dokumen. +1 dari max -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Version Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="versionName" name="versionName" placeholder="ex : 1.1" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> No. Surat PMQA</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="suratDeloitte" name="suratDeloitte" placeholder="" required>
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal Surat</label>
                                    <div class="col-sm-3">
                                        <!-- <input type="te" class="form-control" id="tglSurat" name="tglSurat" placeholder=""> -->
                                        <div class="input-group">
                                            <input type="text" id="tglSurat" name="tglSurat" class="form-control datepicker" required>
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tanggal Submit</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglSubmission" name="tglSubmission" required>
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload Surat</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadSurat" name="uploadSurat">
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- PENERUSAN SURAT DARI PPK KE PSIAP -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">ND Penerusan PPK</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="ndPenerusanPpk" name="ndPenerusanPpk" placeholder="">
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal ND</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglNd" name="tglNd" >
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload ND</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadNd" name="uploadNd" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- PERSETUJUAN/PENGEMBALIAN DARI PSIAP -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Persetujuan PSIAP</label>
                                    <div class="col-sm-5">
                                        <select class="custom-select rounded-0" id="flagPsiap" name="flagPsiap" >
                                            <option value="" selected disabled>-</option>
                                            <option value="2">Disetujui</option> <!-- flag 2 -->
                                            <option value="1">Dikembalikan</option> <!--  flag 1 -->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">ND PSIAP</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="ndPsiap" name="ndPsiap" placeholder="">
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal ND PSIAP</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglNdPsiap" name="tglNdPsiap" >
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload ND PSIAP</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadNdPsiap" name="uploadNdPsiap" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- BA STEERCO -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">No. BA Steerco</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="baSteerco" name="baSteerco" placeholder="" >
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal BA Steerco</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglBaSteerco" name="tglBaSteerco" >
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload BA Steerco</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadBaSteerco" name="uploadBaSteerco" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- PERSETUJUAN OLEH STEERCO -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">No. Persetujuan Steerco</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="noApproveSteerco" name="noApproveSteerco" placeholder="" >
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tgl Persetujuan Steerco</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglApprove" name="tglApprove" >
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload Persetujuan Steerco</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadPersetujuanSteerco" name="uploadPersetujuanSteerco" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- SURAT PEMBERITAHUAN OLEH PPK ke DELOITTE -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">S Pemberitahuan PPK</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="sPemberitahuanPpk" name="sPemberitahuanPpk" placeholder="" >
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal Surat</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglS" name="tglS">
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload Surat</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadSPemberitahuanPPK" name="uploadSPemberitahuanPPK" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- BA KEMAJUAN -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">BA Kemajuan</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="baKemajuan" name="baKemajuan" placeholder="" >
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal BA</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglBaKemajuan" name="tglBaKemajuan" >
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload BA</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadBaKemajuan" name="uploadBaKemajuan" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- BAST -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">BAST</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="bast" name="bast" placeholder="" >
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal BAST</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglBast" name="tglBast" >
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload BAST</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadBast" name="uploadBast" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- BA PEMBAYARAN-->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">BA Pembayaran</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="baPembayaran" name="baPembayaran" placeholder="" >
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal BA Pem</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglBaPembayaran" name="tglBaPembayaran" >
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload BA Pem</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadBaPembayaran" name="uploadBaPembayaran" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- TAGIHAN-->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tagihan</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="tagihan" name="tagihan" placeholder="" >
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal Tagihan</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglTagihan" name="tglTagihan" >
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload BA Pem</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadTagihan" name="uploadTagihan" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>

                                <!-- ND PERMOHONAN BAYAR-->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">ND Permohonan Bayar</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="ndPermohonanBayar" name="ndPermohonanBayar" placeholder="" >
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal ND</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglNdPermohonanBayar" name="tglNdPermohonanBayar" >
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload ND</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadNdPermohonanBayar" name="uploadNdPermohonanBayar" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!--SPP-->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nomor SPP</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="spp" name="spp" placeholder="" >
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal SPP</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglSpp" name="tglSpp" >
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload SPP</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadSpp" name="uploadSpp" >
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!--SPM-->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nomor SPM</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="spm" name="spm" placeholder="">
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal SPM</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglSpm" name="tglSpm">
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload SPP</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadSpm" name="uploadSpm">
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>

                                <!--SP2D-->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nomor SP2D</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="sp2D" name="sp2D" placeholder="">
                                    </div>
                                    <label class="col-sm-2 col-form-label" style="text-align: right;">Tanggal SP2D</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker"  id="tglSp2D" name="tglSp2D">
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Upload SP2D</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uploadSp2d" name="uploadSp2d">
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                            <!--<div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- STATUS DELIVERABLE -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Status Deliverable</label>
                                    <div class="col-sm-5">
                                        <select class="custom-select rounded-0" id="statusDeliverable" name="statusDeliverable">
                                            <option value="" selected disabled>-</option>
                                            <option value="1">Dalam Proses QA</option>
                                            <option value="2">Perbaikan oleh Deloitte</option>
                                            <option value="3">Disetujui Steerco</option>
                                            <!-- Flag:
                                                1 = Dalam Proses QA
                                                2 = Perbaikan oleh Deloitte
                                                3 = Telah Disetujui Steerco -->
                                        </select>
                                    </div>
                                </div>

                                <!-- STATUS PEMBAYARAN -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Status Pembayaran</label>
                                    <div class="col-sm-5">
                                        <select class="custom-select rounded-0" id="statusPembayaran" name="statusPembayaran">
                                            <option value="" selected disabled>-</option>
                                            <option value="1">Belum Dapat Dibayarkan</option>
                                            <option value="2">Siap Dibayar</option>
                                            <option value="3">Proses Pembayaran</option>
                                            <option value="4">Sudah Dibayar</option>
                                            <!-- "Flag:
                                                1 = Belum Dapat Dibayarkan
                                                2 = Siap Dibayar
                                                3 = Proses Pembayaran
                                                4 = Sudah Dibayarkan" -->

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="box-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    <button type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</section>
<th:block layout:fragment="page_js">
    <!-- DataTables  & Plugins -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/jszip/jszip.min.js}"></script>
    <script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
    <script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

    <!-- jquery-validation -->
    <script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/plugins/jquery-validation/additional-methods.min.js}"></script>
    <script th:src="@{/plugins/jquery-validation/localization/messages_id.min.js}"></script>

    <!-- InputMask -->
    <script th:src="@{/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/plugins/inputmask/jquery.inputmask.min.js}"></script>

    <!-- Bootstrap-Select -->
    <script th:src="@{/plugins/bootstrap-selectpicker/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-selectpicker/js/i18n/defaults-id_ID.min.js}"></script>

    <!-- bootstrap-datepicker -->
    <script th:src="@{/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.id.min.js}"></script>

    <!-- bs-custom-file-input -->
    <script th:src="@{/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>

    <script th:src="@{/dist/js/pages/pmqa/deliverable/alurdok.js}"></script>
</th:block>
</html>