<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page_layout}" xmlns="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="page_css">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
</th:block>
<th:block layout:fragment="page_title">
    <h1 class="m-0">PMQA - Master</h1>
</th:block>
<th:block layout:fragment="page_breadcrumb">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">PMQA</li>
        <li class="breadcrumb-item active">Master</li>
    </ol>
</th:block>
<section layout:fragment="content" class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Master</h3>
                        <div class="card-tools">
                            <a href="#" data-toggle="modal" data-target="#mdlPmqaMaster"
                               class="pull-left btn btn-sm btn-success addMaster">Tambah Master</a>
                            <!--<button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>-->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tblPmqaMaster" class="table table-bordered table-hover dataTable table-cell">
                                    <thead>
                                    <tr>
                                        <th class="text-center">No.</th>
                                        <th class="text-center">ID Master</th>
                                        <th class="text-center">Deliverable Code</th>
                                        <th class="text-center">Section No.</th>
                                        <th class="text-center">Function</th>
                                        <th class="text-center">Task No.</th>
                                        <th class="text-center">Task</th>
                                        <th class="text-center">Deliverable Name</th>
                                        <th class="text-center">Schedule in ToR</th>
                                        <th class="text-center">Aksi</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->

    <div class="modal fade" id="mdlPmqaMaster" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Master</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="box box-solid">
                        <form class="form-horizontal" id="formPmqaMaster" method="post">
                            <input type="text" name="idMaster" id="idMaster" hidden/>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">ID Deliverable (D-1 s.d. D-110)</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="idDeliverable" name="idDeliverable" placeholder="" required maxlength="5">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Section No.</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="sectionNo" name="sectionNo" placeholder="" required maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Function</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="function" name="function" placeholder="" required maxlength="255">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Task No.</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="taskNo" name="taskNo" placeholder="" required maxlength="255">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Task</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="task" name="task" placeholder="" required maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Deliverable Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="deliverableName" name="deliverableName" placeholder="" required maxlength="255">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Schedule In Tor</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="scheduleInTor" name="scheduleInTor" placeholder="" required maxlength="10">
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="box-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    <button type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</section>
<th:block layout:fragment="page_js">
    <!-- DataTables  & Plugins -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/jszip/jszip.min.js}"></script>
    <script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
    <script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

    <!-- jquery-validation -->
    <script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/plugins/jquery-validation/additional-methods.min.js}"></script>
    <script th:src="@{/plugins/jquery-validation/localization/messages_id.min.js}"></script>

    <script th:src="@{/dist/js/pages/pmqa/deliverable/master.js}"></script>
</th:block>
</html>