<aside class="main-sidebar sidebar-dark-primary elevation-4 layout-fixed" th:fragment="aside" xmlns:th="http://www.thymeleaf.org"
       xmlns="http://www.w3.org/1999/xhtml">
    <!-- Brand Logo -->
    <a th:href="@{/dashboard}" class="brand-link">
        <img th:src="@{/dist/img/LogoDJPSekunder.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Subtim Kondangan</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header">SI</li>
                <li th:class="'nav-item ' + ${siDeliverableHeader}">
                    <a href="#" th:class="'nav-link ' + ${siDeliverableMenu}">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Deliverable
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/si/dashboard}" th:class="'nav-link ' + ${siDashboardMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/si/master}" th:class="'nav-link ' + ${siMasterMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Master</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/si/monitoring}" th:class="'nav-link ' + ${siMonitoringMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Monitoring</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/si/alurdok}" th:class="'nav-link ' + ${siAlurDokMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Alur Dokumen</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">PMQA</li>
                <li th:class="'nav-item ' + ${pmqaDeliverableHeader}">
                    <a href="#" th:class="'nav-link ' + ${pmqaDeliverableMenu}">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Deliverable
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/pmqa/dashboard}" th:class="'nav-link ' + ${pmqaDashboardMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/pmqa/master}" th:class="'nav-link ' + ${pmqaMasterMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Master</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/pmqa/monitoring}" th:class="'nav-link ' + ${pmqaMonitoringMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Monitoring</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/pmqa/alurdok}" th:class="'nav-link ' + ${pmqaAlurDokMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Alur Dokumen</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">CM</li>
                <li th:class="'nav-item ' + ${cmDeliverableHeader}">
                    <a href="#" th:class="'nav-link ' + ${cmDeliverableMenu}">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Deliverable
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/cm/dashboard}" th:class="'nav-link ' + ${cmDashboardMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/cm/master}" th:class="'nav-link ' + ${cmMasterMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Master</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/cm/monitoring}" th:class="'nav-link ' + ${cmMonitoringMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Monitoring</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/cm/alurdok}" th:class="'nav-link ' + ${cmAlurDokMenu}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Alur Dokumen</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">Pengaturan</li>
                <li class="nav-item">
                    <a th:href="@{/pengaturan/role}" th:class="'nav-link ' + ${roleMenu}">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Role
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>