<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
        <ul class="nav">
          <li th:class="'nav-item ' + ${dashboardMenu}">
            <a class="nav-link" th:href="@{/dashboard}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <div th:if="${user.level == '1'}">
            <li class="nav-item nav-category">ADMIN</li>
            <li th:class="'nav-item ' + ${kunjunganMenu}">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-kunjungan" aria-expanded="false"
                 aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-chart-bar"></i>
                <span class="menu-title">Monitoring</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-kunjungan">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a th:class="'nav-link ' + ${kunjunganMenu}" th:href="@{/monitoringkunjungan}">Daftar Kunjungan</a>
                  </li>
                </ul>
              </div>
            </li>
            <li th:class="'nav-item ' + ${roleMenu}">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                 aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-settings"></i>
                <span class="menu-title">Pengaturan</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a th:class="'nav-link ' + ${roleMenu}" th:href="@{/pengaturanrole}">Role</a>
                  </li>
                </ul>
              </div>
            </li>
          </div>
<!--          <li class="nav-item nav-category">Forms and Datas</li>-->
        </ul>
      </nav>