<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
        <ul class="nav">
          <li th:class="'nav-item ' + ${dashboardMenu}">
            <a class="nav-link" th:href="@{/dashboard}">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Home</span>
            </a>
          </li>
<!--            <li class="nav-item nav-category">ADMIN</li>-->
            <li th:class="'nav-item ' + ${kunjunganMenu}">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-kunjungan" aria-expanded="false"
                 aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-chart-bar"></i>
                <span class="menu-title">Monitoring</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-kunjungan">
                  <ul class="nav flex-column sub-menu">
                      <li class="nav-item"><a th:class="'nav-link ' + ${monTransaksiMenu}"
                                              th:href="@{/monitoring/trx}">Transaksi</a>
                      </li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                      <li class="nav-item"><a th:class="'nav-link ' + ${monPersediaanMenu}"
                                              th:href="@{/monitoring/persediaan}">Persediaan</a>
                      </li>
                  </ul>
              </div>
            </li>
            <li th:class="'nav-item ' + ${transMenu}">
                <a class="nav-link" th:href="@{/transaksi}">
                    <i class="mdi mdi-shopping menu-icon"></i>
                    <span class="menu-title">Transaksi</span>
                </a>
            </li>
<!--            <div th:if="${user.level == '1'}">-->
                <li th:class="'nav-item ' + ${refMenu}" th:if="${user.level == '1'}">
                    <a class="nav-link" th:href="@{/refbarang}">
                        <i class="mdi mdi-playlist-plus menu-icon"></i>
                        <span class="menu-title">Referensi Barang</span>
                    </a>
                </li>
<!--            </div>-->
            <li th:class="'nav-item ' + ${roleMenu}">
                <a class="nav-link" th:href="@{/pengaturanrole}">
                    <i class="mdi mdi-settings menu-icon"></i>
                    <span class="menu-title">Pengaturan User</span>
                </a>
            </li>
            <!--          <li class="nav-item nav-category">Forms and Datas</li>-->
        </ul>
      </nav>