<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page_layout}" xmlns="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="page_css"></th:block>
<th:block layout:fragment="page_title">
    <h1 class="m-0">SUBTIM Manajemen Kontrak dan Keuangan</h1>
</th:block>
<th:block layout:fragment="page_breadcrumb">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">PMQA</li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
</th:block>
<section layout:fragment="content" class="content">

<!--    NEW CONTAINER FLUID-->
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>PPK PA</h3>

                        <p>Procurement <br>
                            Agent</p>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>PPK SI</h3>

                        <p>System <br>
                            Integrator</p>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>PPK PMQA</h3>

                        <p>Project Management <br>
                            and Quality Assurance</p>
                    </div>
                    <a th:href="@{/pmqa/dashboard}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>PPK CM</h3>

                        <p>Change <br>
                            Management</p>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
<!--    END CONTAINER FLUID-->


</section>
<th:block layout:fragment="page_js">
    <!-- jQuery UI 1.11.4 -->
    <script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- ChartJS -->
    <script th:src="@{/plugins/chart.js/Chart.min.js}"></script>
    <!-- Sparkline -->
    <script th:src="@{/plugins/sparklines/sparkline.js}"></script>
    <!-- JQVMap -->
    <script th:src="@{/plugins/jqvmap/jquery.vmap.min.js}"></script>
    <script th:src="@{/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
    <!-- jQuery Knob Chart -->
    <script th:src="@{/plugins/jquery-knob/jquery.knob.min.js}"></script>
    <!-- daterangepicker -->
    <script th:src="@{/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
    <!-- Summernote -->
    <script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
    <!-- AdminLTE for demo purposes -->
    <script th:src="@{/dist/js/demo.js}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script th:src="@{/dist/js/pages/dashboard.js}"></script>
</th:block>
</html>