<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page-layout}" xmlns="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="page_css">
  <link rel="shortcut icon" th:href="@{/images/djp-putih.png}" />
  <!-- Bootstrap-Select -->
  <link rel="stylesheet" th:href="@{/vendors/bootstrap-selectpicker/css/bootstrap-select.min.css}">
  <link rel="stylesheet" th:href="@{/vendors/select2/dist/css/select2.min.css}">
  <link rel="stylesheet" th:href="@{/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}">
</th:block>
<th:block layout:fragment="page_title">
</th:block>
<th:block layout:fragment="page_breadcrumb">
</th:block>
<th:block layout:fragment="content">
  <div class="col-12 grid-margin stretch-card">
    <div class="card card-rounded table-darkBGImg">
      <div class="card-body">
        <div class="col-sm-8">
          <h3 class="text-white upgrade-info">
            Silahkan masukkan <span class="fw-bold">NPWP</span> anda!
          </h3>
          <form id="frmSearchNpwp">
            <div class="form-group mt-3">
              <div class="input-group">
                <input type="text" class="form-control npwp" name="txtNpwp" id="txtNpwp"
                       aria-label="Recipient's username">
              </div>
            </div>
            <button class="btn btn-info btn-icon-text" id="btnCari" type="button">
              <i class="ti-search btn-icon-prepend"></i>Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 grid-margin stretch-card" id="divProfilWp">
    <div class="card card-rounded">
      <div class="card-body">
        <h4 class="card-title">Profil Wajib Pajak</h4>
<!--        <p class="card-description"></p>-->
        <form id="frmProfilWp">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group ">
                <label>NPWP</label>
                <input type="text" id="txtIdWp" hidden/>
                <input class="form-control npwp" name="txtNpwp1" id="txtNpwp1" placeholder="Jenis Wajib Pajak" disabled>
                <!--              <label id="lblNpwp" class="fw-bold">lblNpwp</label>-->
              </div>
              <div class="form-group">
                <label>Nama Wajib Pajak</label>
                <input class="form-control" name="txtNama" id="txtNama" placeholder="Nama Wajib Pajak" disabled>
                <!--              <label id="lblNama" class="fw-bold">lblNama</label>-->
              </div>
              <div class="form-group">
                <label>Alamat</label>
                <input class="form-control ubah" name="txtAlamat" id="txtAlamat" placeholder="Alamat" maxlength="200" required>
              </div>
              <div class="form-group">
                <label>Kelurahan</label>
                <input class="form-control ubah" name="txtKelurahan" id="txtKelurahan" placeholder="Kelurahan" maxlength="100" required>
              </div>
              <div class="form-group">
                <label>Kecamatan</label>
                <input class="form-control ubah" name="txtKecamatan" id="txtKecamatan" placeholder="Kecamatan" maxlength="100" required>
              </div>
              <div class="form-group">
                <label>Kabupaten/Kota</label>
                <input class="form-control ubah" name="txtKota" id="txtKota" placeholder="Kabupaten/Kota" maxlength="100" required>
              </div>
              <div class="form-group">
                <label>Propinsi</label>
                <input class="form-control ubah" name="txtPropinsi" id="txtPropinsi" placeholder="Propinsi" maxlength="100" required>
              </div>
              <div class="form-group">
                <label>Kode Pos</label>
                <input class="form-control ubah" name="txtKdPos" id="txtKdPos" placeholder="Kode Pos" maxlength="5" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Jenis Wajib Pajak</label>
                <input class="form-control" name="txtJenisWp" id="txtJenisWp" placeholder="Jenis Wajib Pajak" disabled>
                <!--              <label id="lblJenisWp" class="fw-bold">lblJenisWp</label>-->
              </div>
              <div class="form-group op">
                <label>Tanggal Lahir</label>
                <!--              <div class="input-group">-->
                <!--                <div class="input-group-prepend">-->
                <!--                  <span class="icon-calendar input-group-text calendar-icon"></span>-->
                <!--                </div>-->
                <input class="form-control ubah datepicker" name="txtTglLahir" id="txtTglLahir" placeholder="Tanggal Lahir" required>
                <!--              </div>-->
              </div>
              <div class="form-group">
                <label>Nomor Telepon</label>
                <input class="form-control ubah angka" name="txtNoTelp" id="txtNoTelp" placeholder="Nomor Telepon" maxlength="13" required>
              </div>
              <div class="form-group">
                <label>Nomor Fax</label>
                <input class="form-control ubah angka" name="txtNoFax" id="txtNoFax" placeholder="Nomor Fax" maxlength="13" required>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input class="form-control ubah" name="txtEmail" id="txtEmail" placeholder="Email" maxlength="50" required>
              </div>
              <div class="form-group op">
                <label>Nomor Identitas</label>
                <input class="form-control ubah angka" name="txtNoIdentitas" id="txtNoIdentitas" placeholder="Nomor Identitas" maxlength="25" required>
              </div>
              <div class="form-group">
                <label>KLU</label>
<!--                <select class="form-control ubah selectpicker" id="ddlKlu" data-live-search="true" data-size="8" ></select>-->
                <select class="form-control ubah js-data-example-ajax" id="ddlKlu"  style="width: 100%"></select>
              </div>
              <div class="form-group">
                <label>Keterangan KLU</label>
                <input class="form-control" name="txtKeteranganKlu" id="txtKeteranganKlu" placeholder="Keterangan KLU" disabled>
                <!--              <label id="lblStatusWp" class="fw-bold">lblStatusWp</label>-->
              </div>
            </div>
          </div>
          <div id="divActionEdit">
            <button id="btnSubmit" type="button" class="btn btn-primary me-2">Simpan</button>
            <button id="btnCancel" type="button" class="btn btn-secondary">Batal</button>
          </div>
        </form>
        <div id="divAction">
          <div class="d-sm-flex align-items-center justify-content-between">
            <button class="btn btn-success btn-icon-text" id="btnNext" data-toggle="modal" data-target="#mdlPmqaMonitoring" type="button">
              <i class="ti-check btn-icon-prepend"></i>Lanjutkan
            </button>
            <button class="btn btn-outline-info btn-icon-text" id="btnEdit" type="button">
              <i class="ti-pencil btn-icon-prepend"></i>Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mdlPegawai" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Kunjungan</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="box box-solid">
            <div class="card-body">
              <form class="forms-sample" id="frmKunjungan">
                <input type="text" name="txtIdWpKunjungan" id="txtIdWpKunjungan" hidden/>
                <input type="text" name="txtNpwpKunjungan" id="txtNpwpKunjungan" hidden/>
                <div class="form-group row mb-0">
                  <label class="col-sm-3 col-form-label">Bertemu dengan</label>
                  <select class="col-sm-9 selectpicker" id="ddlPegawai" data-live-search="true" >
                  </select>
                </div>
                <div class="form-group row mb-0">
                  <label class="col-sm-3 col-form-label">NIP</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtNip" placeholder="NIP Petugas" disabled >
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <label class="col-sm-3 col-form-label">Jabatan</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtJabatan" placeholder="Jabatan" disabled >
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <label class="col-sm-3 col-form-label">Unit</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtUnit" placeholder="Unit Petugas" disabled >
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <label class="col-sm-3 col-form-label">Keperluan</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtKeperluan" placeholder="Keperluan" maxlength="100" required>
                  </div>
                </div>
                <button type="button" id="btnSubmitKunjungan" class="btn btn-primary me-2">Simpan</button>
                <button type="reset" class="btn btn-secondary" id="btnBatal" data-dismiss="modal">Batal</button>
              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</th:block>
<th:block layout:fragment="page_js">
  <!-- Bootstrap-Select -->
  <script th:src="@{/vendors/bootstrap-selectpicker/js/bootstrap-select.min.js}"></script>
  <script th:src="@{/vendors/bootstrap-selectpicker/js/i18n/defaults-id_ID.min.js}"></script>
  <script th:src="@{/vendors/select2/dist/js/select2.min.js}"></script>
  <script th:src="@{/pages-js/pencarian-npwp.js}"></script>
</th:block>

</html>