<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page-layout}" xmlns="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="page_css">
    <link rel="shortcut icon" th:href="@{/images/logo-jmm.png}" />
    <!-- Bootstrap-Select -->
    <link rel="stylesheet" th:href="@{/vendors/bootstrap-selectpicker/css/bootstrap-select.min.css}">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/vendors/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/datatables-buttons/css/buttons.bootstrap4.min.css}">
</th:block>
<section layout:fragment="content">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                        <h4 class="card-title">Refrensi barang</h4>
                        <!--            <p class="card-subtitle card-subtitle-dash">Transaksi barang masuk & barang keluar</p>-->
                    </div>
                    <div>
                        <a href="#" data-toggle="modal" data-target="#mdlBarang"
                           class="btn btn-primary text-white btn-icon-text"><i class="mdi mdi-cart-plus"></i>Tambah Barang</a>
                        <!--            <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>Tambah User</button>-->
                    </div>
                </div>
                <div class="pt-3">
                    <table class="table table-bordered table-striped table-hover" id="tblBarang">
                        <thead>
                        <tr>
                            <th class="text-center">No.</th>
                            <th class="text-center">Kode Barang</th>
                            <th class="text-center">Nama Barang</th>
                            <th class="text-center">Jenis Barang</th>
                            <th class="text-center">Merk</th>
                            <th class="text-center">Keterangan</th>
                            <th class="text-center">Aksi</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlBarang" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Barang</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="box box-solid">
                        <form class="form-horizontal" id="formBarang" method="post">
                            <input type="text" name="idPersediaan" id="idPersediaan" hidden/>
                            <div class="card-body">
                                <div class="form-group row mb-0">
                                    <label class="col-sm-2 col-form-label">Nama Barang</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="namaBarang" name="namaBarang" placeholder="" required maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <label class="col-sm-2 col-form-label">Jenis Barang</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="jenisBarang" name="jenisBarang" placeholder="" required maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <label class="col-sm-2 col-form-label">Merk</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="merk" name="merk" placeholder="" required maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <label class="col-sm-2 col-form-label">Keterangan</label>
                                    <div class="col-sm-6">
                                        <textarea rows="3" class="form-control" id="keterangan" name="keterangan" placeholder="" required maxlength="255"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="box-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                    <button type="button" class="btn btn-secondary" id="btnBatal" data-dismiss="modal">Batal</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</section>
<th:block layout:fragment="page_js">
    <!-- DataTables  & Plugins -->
    <script th:src="@{/vendors/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendors/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/vendors/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/vendors/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/vendors/datatables-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/vendors/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/vendors/jszip/jszip.min.js}"></script>
    <script th:src="@{/vendors/pdfmake/pdfmake.min.js}"></script>
    <script th:src="@{/vendors/pdfmake/vfs_fonts.js}"></script>
    <script th:src="@{/vendors/datatables-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/vendors/datatables-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/vendors/datatables-buttons/js/buttons.colVis.min.js}"></script>
    <!-- Bootstrap-Select -->
    <script th:src="@{/vendors/bootstrap-selectpicker/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/vendors/bootstrap-selectpicker/js/i18n/defaults-id_ID.min.js}"></script>

    <script th:src="@{/pages-js/referensi_barang.js}"></script>
</th:block>
</html>